# Télécom Paris - MDI721 - Session 1

## Jupyter

- Notebook
    - code
    - mardown
    - latex

## Python

- syntaxe, commentaires, variables
- types de base : NoneType, bool, int, float
- structures de données : list, tuple, range, str, dict, set
- fonctions
- I/O
- PPO

## Python Standard Library

- this
- math
- pypi
- environnements virtuels

### NoneType

In [ ]:
# NoneType
a = None  # the value None is assigned to the variable a
print(a)  # displays the variable

In [ ]:
# type of an object
type(a)

### bool

In [ ]:
# logical operations with booleans
a = True
b = False
print(a and b, a or b, not a, not b)

In [ ]:
# type of an object
type(a)

### int float

In [ ]:
# priority between operators
print(1 + 2 - 3 * 4 / 6)

In [ ]:
# integers only
print(1 + 2 - 3 * 4 // 6)

In [ ]:
# division with remainder
a, b = 20, 7
q = a // b  # quotient
r = a % b  # remainder
print(q, r)
print(b * q + r)

In [ ]:
# multiple assignment and comparison
a, b = 1, 2
print(a < b)

In [ ]:
# multiple assignment and comparison
a, b = 1, 1
(a < b) or (a > b)

### list

In [ ]:
# creation of l list
l = [1, 2, 3]
print(l)

In [ ]:
# type of an object
type(l)

In [ ]:
# appending a single element
l.append(1)
l

In [ ]:
# appending several elements
l.extend([2, 3, 1])
l

In [ ]:
# length
len(l)

In [ ]:
# min
min(l)

In [ ]:
# max
max(l)

In [ ]:
# sum
sum(l)

In [ ]:
# testing whether 4 is in l
4 in l

In [ ]:
# testing whether 5 is not in l
5 not in l

In [ ]:
# to identical lists are equal
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l1 == l2

In [ ]:
# to identical lists may not have object identity
l1 is l2

In [ ]:
# here, to identical lists have object identity
l2 = [1, 2, 3]
l3 = l2
l2 is l3

In [ ]:
# using the [] operator
l = [1, 2, 3, 1, 2, 3, 1]
print(l)
print(l[2])
print(l[1:3])
print(l[1:4:2])
print(l[1:])
print(l[:3])

In [ ]:
# concatenating 'l' with itself
l + l

In [ ]:
# concatenating 'l' with itself 3 times
l * 3  # or 3 * l

In [ ]:
# sorting 'l'
sorted(l)  # returns a new object

In [ ]:
# l is still not sorted
l

In [ ]:
# sorting 'l' in place
l.sort()
l

In [ ]:
# list comprehension with the squares of elements of l
[i * i for i in l]

In [ ]:
# list comprehension with the squares of odd elements of l
[i * i for i in l if i % 2 == 1]

In [ ]:
# nested list comprehension
[i * j for i in [0, 1, 2] for j in [1, 2, 3]]

In [ ]:
# list from a string (see below)
list('Python')

### tuple

In [ ]:
# creation of a tuple
t = (1, 2, 3)
t

In [ ]:
# creation of a tuple
t = 1, 2, 3
t

In [ ]:
# list from a string (see below)
tuple('Python')

### range

In [ ]:
r1 = range(10)  # integers from 0 to 9
r2 = range(1, 11)  # integers from 1 to 10
r3 = range(0, 100, 2)  # even integers from 0 to 100 excluded
print(list(r1))
print(list(r2))
print(list(r3))

### str

In [ ]:
# some strings
s1 = 'this is a string'
s2 = "it's a string"  # \ not needed for the quote
s3 = 'it\'s a string again'  # \ needed for the quote
s4 = 'C:\\Users\\Guest\\'  # \ needed for the backslashes
s5 = '''Monday,
Tuesday,
Wednesday,
...'''
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

In [ ]:
# f-string with variables
name = 'Mary'
age = 25
f'{name} is {age} years old'

In [ ]:
# f-string with statements
f'1 + 2 = {1 + 2}'

In [ ]:
# format with named arguments
'{name} is {age} years old'.format(name='Mary', age=25)

In [ ]:
# format with positional arguments
'{1} is {0} years old'.format(25, 'Mary')

In [ ]:
# format with implicit positional arguments
'{} is {} years old'.format('Mary', 25)

In [ ]:
# implicit positional arguments
'%s is %d years old' % ('Mary', 25)

In [ ]:
# slicing string
s = 'Python'
s[1:-1]

In [ ]:
# reversing string
s[::-1]

In [ ]:
# concatenation
'1' + '2'

In [ ]:
# lower case
s.lower()

In [ ]:
# upper case
s.upper()

In [ ]:
# testing start
s.startswith('P')

In [ ]:
# testing end
s.endswith('P')

In [ ]:
# testing substring
s.find('th')

In [ ]:
# title
s = 'I like the python language!'
s.title()

In [ ]:
# spliting string
s = '123,456,789'
s.split(',')

In [ ]:
# joining strings
abc = ['A', 'B', 'C']
'-'.join(abc)

In [ ]:
# character to ascii
ord('A')

In [ ]:
# ascii to character
chr(64)

In [ ]:
# str of any object
str(1 * 2 / 3)

### dict

In [ ]:
# example
d = {'a':1, 'b':2, 'c':3}
d['a']

In [ ]:
# get function
d.get('a', 0)

In [ ]:
# deleting a key
del d['a']
d

In [ ]:
# get function
d.get('a', 0)

In [ ]:
# dict from a mapping sequence
d = dict([['a', 1], ['b', 2], ['c', 3]])
print(d)

In [ ]:
# dict from a zip
d = dict(zip(['a', 'b', 'c'], [1, 2, 3]))
print(d)

### set

In [ ]:
# example
s = set()
s.add(1)
s.add(2)
s.add(2)
s.add(3)
s.add(3)
s.add(3)
s

In [ ]:
# set form l list
print(l)
print(set(l))

### if elif else

In [ ]:
age = 19
if age in range(10, 20):
    print("teenager")

In [ ]:
if age < 18:
    print("minor")
else:
    print("adult")

In [ ]:
if age < 10:
    print("child")
elif age < 20:
    print("teenager")
else:
    print("adult")

In [ ]:
# idem with nested statements
if age < 20:
    if age < 10:
        print("child")
    else:
        print("teenager")
else:
    print("adult")

In [ ]:
# one line if/else statement
status = 'minor' if age < 18 else 'adult'
print(status)

In [ ]:
# simple loop
for i in range(10):
    print(i * i)

In [ ]:
# enumerate function
a = list('abcdefghij')
print(a)
for i, e in enumerate(a):
    print(i, e)

In [ ]:
# looping on dict items
d = dict(zip(list('abcde'), [1, 2, 3, 4, 5]))
print(d)
for key, value in d.items():
    print(key, value)

### loop while

In [ ]:
a = 0
while a < 5:
    print(a)
    a += 1

### loop for in

In [ ]:
# example
for i in range(10):
    if i == 5:
        continue
    if i > 7:
        break
    print(i)
else:
    print("over")

### function

In [ ]:
# function call
print('Hello World!')

In [ ]:
# user-defined function
def square(x):
    return x * x

In [ ]:
# function call
square(16)

In [ ]:
# function call
square(-16)

In [ ]:
# function call in a list comprehension
[square(i) for i in range(10)]

In [ ]:
# function with default values
def area(length=20, width=10):
    return length * width

In [ ]:
# all arguments are given
area(30, 5)

In [ ]:
# only first argument is given
area(30)

In [ ]:
# only second argument is given
area(width=20)

In [ ]:
# no argument is given
area()

In [ ]:
# creation of a list of tuples
a = list(zip(range(10), list("Python 3.7"), range(20, 10, -1)))
a

### lambda

In [ ]:
# sorting a using the second element of tuples
a.sort(key=lambda x: x[1])
a

In [ ]:
# sorting a using the third element of tuples
a.sort(key=lambda x: x[2])
a

In [ ]:
# map example
for e in map(lambda x: x * x, range(10)):
    print(e)

In [ ]:
# filter example
for e in filter(lambda x: x % 2 == 1, range(10)):
    print(e)

### classes

In [ ]:
# small example : the Point class

class Point :
    
    def __init__(self, a=0.0, b=0.0):
        self.x = a
        self.y = b
        
    def __str__(self):
        return f"({self.x}, {self.y})"
    
    def is_diagonal(self):
        return self.x == self.y
    
    def transpose(self):
        return Point(self.y, self.x)
    
    def middle_with(self, autrePoint):
        return Point((self.x + autrePoint.x) / 2, (self.y + autrePoint.y) / 2)
    
    def __eq__(self, p):
        return (self.x == p.x) and (self.y == p.y)

In [ ]:
# instance creation
p1 = Point()
print(p1)

In [ ]:
# accessing attribute
p1.x

In [ ]:
# diagonal?
p1.is_diagonal()

In [ ]:
# other instance
p2 = Point(10, 6)
p2.is_diagonal()

In [ ]:
# transposing
p3 = p2.transpose()
print(p3)

In [ ]:
# middle
p4 = p2.middle_with(p3)
print(p4)

In [ ]:
# diagonal?
p4.is_diagonal()

In [ ]:
class Polygon:
    def __init__(self):
        self.points = []
    def __str__(self):
        return ("Poly{%s}" % ', '.join([str(p) for p in self.points]))
    def add_point(self, point):
        if point not in self.points: # ensure that all points are different
            self.points.append(point)
    def add_points(self, points):
        for point in points:
            self.add_point(point)
    def add_polygon(self, polygon):
        self.add_points(polygon.points)
    def name(self):
        names = {0:"empty", 1:"point", 2:"segment", 3:"triangle", 4:"quadrilateral", 5:"pentagon"}
        nb = len(self.points)
        return names.get(nb, "polygon")

In [ ]:
# instance creation
p = Polygon()
print(p, p.name())

In [ ]:
# adding points
p.add_point(p1)
p.add_point(p2)
print(p, p.name())

In [ ]:
# other instance
q = Polygon()
q.add_points([p2, p3, p4])
print(q, q.name())

In [ ]:
# adding polygons
p.add_polygon(q)
print(p, p.name())

### I/O

In [ ]:
# sep
print(1, 2, 3, sep=';')

In [ ]:
# end
for i in range(10):
    print(i, end=' ')

In [ ]:
# input number
age = int(input('What is your age? '))
age

In [ ]:
# create and write a file
with open('data.txt', 'w') as f:
    f.write('This is a simple file.\n')
    
# open and read a file
with open('data.txt') as f:
    content = f.read()
    
print(content)

In [ ]:
# writing a file
with open('data.txt', 'a') as f:
    for i in range(10):
        f.write(f'{i}\n')

# reading it line by line
with open('data.txt') as f:
    for line in f:
        print(line.rstrip('\n'))

In [ ]:
# creatin and object
data = {'language': 'Python', 'version': [3, 6]}
data

In [ ]:
# save it to json
import json
with open('example.json', 'w') as f:
    json.dump(data, f)
    
# load it from json
with open('example.json') as f:
    data2 = json.load(f)

print(data2 == data)

In [ ]:
# example with SQLite and a dedicated module
import sqlite3
import os

# remove 'test.db' file if exists
if os.path.exists('test.db'):
    os.remove('test.db')
    
# create and fill a small database
with sqlite3.connect("test.db") as db:
    cursor = db.cursor()
    cursor.execute('''CREATE TABLE clients
                    (id integer, lastname text, firstname text)''')
    cursor.execute('''INSERT INTO clients VALUES (1, 'Smith', 'John')''')
    cursor.execute('''INSERT INTO clients VALUES (2, 'Doe', 'John')''')
    cursor.execute('''INSERT INTO clients VALUES (3, 'Smith', 'Ann')''')
    db.commit()
    print("database created")

In [ ]:
# open and request the database
with sqlite3.connect("test.db") as db:
    cursor = db.cursor()
    cursor.execute('''SELECT * FROM clients WHERE lastname=?''', ('Smith',))
    row = cursor.fetchone()
    while row:
        print(row)
        row = cursor.fetchone()

### PSL

In [ ]:
# example: this module = Python philosophy
import this

In [ ]:
# example
import math
math.pi

In [ ]:
# example
import math as m
print(m.factorial(100))

In [ ]:
# example
from math import factorial as fact
print(fact(200))